* {
    margin: 0;
    padding: 0;
}

body {
    font: 400 20px/30px "Graphik LCG", Arial, Helvetica, sans-serif;
    color: #000;
}

#wrapper {
    width: 100%;
    overflow: hidden;
}

.container {
    padding: 0 20px;
    margin: 0 auto;
    width: 90%;
}

img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 38px;
    line-height: 46.32px;
}
