@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #000;
    font: 400 14px/25px 'Montserrat', Arial, Helvetica, sans-serif;
    @media (min-width:900px) {
        font: 400 16px/28px 'Montserrat', Arial, Helvetica, sans-serif;
    }
}

#wrapper {
    width: 100%;
    overflow: hidden;
}

.container {
    margin: 0 auto;
    width: 90%;
    @media (min-width:968px) {     
        width: 80%;
    }
}

img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 38px;
    line-height: 46.32px;
    text-align: center;
    font-weight: 700;

    @media (min-width:576px) {
        text-align: left;
    }
}

h2 {
    color: #F0145A;
    font-size: 38px;
    line-height: 46.32px;
    font-weight: 700;
}

h4 {
    color: $grey-text;
    font-size: 22px;
    line-height: 20px;
    font-weight: 700;
}

a {
    display: inline-block;
    color:$active-regular;
    text-decoration: none;

    &:hover {
        color: $hover-accent;
    }
}

p {
    color: $grey-text;
    font-weight: 400;
}

address {
    font-style: normal;
}

ul {
    li {
        list-style: none;
    }
}

.tel {
    color: $main-regular;
}