.checkbox-menu {
    padding: 100px 0;
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }
    &__items {
        list-style: none;
        font-size: 38px;
        line-height: 46px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 40px;
        width: 35%;
    }
    
    &__text {
        display: flex;
        justify-content: flex-end;
        font-size: 19px;
        text-align: left;
        gap: 30px;
        width: 35%;

        &::before {
            content: "";
            display: block;
            height: 100%;
            border: 1px solid rgba(255, 255, 255, 0.3);
            position: absolute;
            top: 50%;
            right: 50%;
            transform: translateX(-50%) translateY(-50%);
        }

        h3 {
            font-size: 30px;
            line-height: 36px;
            padding: 40px 0;
        }
    }
}

.linear-checkbox {
    background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}

#consistent-text {
    display: block;
}

.checkbox-text {
    display: none;
}

.checbox-items {
    cursor: pointer;

    &:hover {
        color: $hover-accent;
    }
}