.service-section {

    padding-bottom: 80px;
    &__btn {
        padding: 5px 0;
    }

    h2 {
        padding: 20px 0 60px;
    }
    &__cards {
        display: grid; 
        gap: 50px;
        @media (min-width:576px) {
            grid-template-columns: 1fr 1fr;
        }
        
        @media (min-width:968px) {
            grid-template-columns: 1fr 1fr 1fr;
        }

    }
    &__card {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        .cards__img {
            padding: 15px;
            border-radius: 20px;
            background: white;
        }
        a{
            color: $active-regular;

            &:hover {
                color: $hover-accent;
            }
        }
    }
}