.third-section {
    background: #F5F5FA;
    padding: 60px 0 30px;
    font-size: 14px;

    .publications-cards {
        display: grid;
        gap: 30px;
        @media (min-width:968px) {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}