$header-text-color: white;
$main-first-section-text-color:white;
$hover-accent:#F0145A;


$main-regular:#323264;
$main-alt:#46466E;
$main-soft:#686887;


$active-regular:  #24A3FF;
$active-hover: #0085FF;
$active-active: #006CCF;

$grey-text: #B3B3BA;