.first-section {
    position: relative;
    &::after {
        content: "";
        display: block;
        position: absolute;
        background: grey;
        padding: 10px 0;
        bottom: -20px;
        width: 98%;
        z-index: -1;
        border-radius: 0px 0px 12px 12px;
    }

    &::before {
        content: "";
        display: block;
        position: absolute;
        background: red;
        padding: 10px 0;
        bottom: -40px;
        width: 96%;
        z-index: -1;
        border-radius: 0px 0px 12px 12px;
    }
}