@import './vars';
.service-section {

    padding-bottom: 80px;
    &__btn {
        /* color:$active-regular; */
        padding: 5px 0;
    }

    h2 {
        padding: 20px 0 60px;
    }
    &__cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 50px;

    }
    &__card {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        .cards__img {
            padding: 15px;
            border-radius: 20px;
            background: white;
        }
        a{
            color: $active-regular;
        }
    }
}