@import './vars';
@import './mixins';
@import './normalize';
@import './fonts';
@import './components/slider';
@import './base';
@import './header';
@import './checkbox-menu';
@import './first-section';
@import './main-section';
@import './service-section';
@import './second-section';
@import './components/card';
@import './third-section';
@import './clients';
@import './components/btn.scss';




.dot {
    font-size: 0;
    background: #B3B3BA;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

footer {
    background: #F5F5FA;
}

.footer-menu {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    border-top: 1px solid #E6E6F0;
}
.contacts {
    &__adress {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: 20px;
        gap: 10px;
        color: $main-regular;
    }
    
    &__nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        justify-content: center;
        @media (min-width:650px) {
            justify-content: flex-start;
        }
        
        &--white {
            address {
                color: white;
            }
    
        }
    }

}

.copyright-text {
    color: $grey-text;
}

.favicon--white path{
    fill: white;

    &:hover {
        fill: $hover-accent;
    }

}
.favicon--blue path{
    fill: $active-regular;

    &:hover {
        fill: $hover-accent;
    }
}

.main-section__scroll {

    &:hover {
        fill: $hover-accent;
    }
}


