.dot {
    display: flex;
    align-items: center;
    gap: 8px;

    &--sm {
        display: none;
        @media (min-width:578px) {
            display: flex;
        }
    }
    
    &::before {
        font-size: 0;
        background: #B3B3BA;
        border-radius: 50%;
        width: 8px;
        height: 8px;
        display: none;
        content: "";
        
    
        @media (min-width:768px) {
            display: block;
        }
    }
}
